<li id="<%= bookmark.token %>" class="list-row hover:bg-base-300" data-url="<%= bookmark_path(bookmark) %>">
  <% if bookmark.positionable? %>
    <div class="flex cursor-grab">
      <%= solid_icon_tag("grip-vertical", class: "my-auto") %>
    </div>
  <% end %>
  <div class="counter my-auto font-ubuntu text-4xl font-light tabular-nums opacity-30"></div>
  <div class="list-col-grow my-auto">
    <%= turbo_stream_from bookmark %>
    <div class="line-clamp-1"><%= bookmark.name %></div>
    <div class="line-clamp-1 text-xs text-base-content/48"><%= bookmark.url %></div>
  </div>
  <div class="my-auto hidden flex-col gap-4 sm:flex sm:flex-row">
    <%= form_with(model: bookmark, class: "my-auto") do |form| %>
      <%= tooltip_tag "Enabled" do %>
        <%= form.check_box :enabled, class: "toggle-lg", onchange: "this.form.requestSubmit()" %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Edit" do %>
      <%= link_to edit_bookmark_path(bookmark), class: "btn btn-soft hover:btn-primary" do %>
        <%= solid_icon_tag("pen") %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Delete" do %>
      <%= button_to bookmark, method: :delete, class: "btn btn-soft btn-error hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{bookmark.name}.", confirm_button: "Delete" } do %>
        <%= solid_icon_tag("trash") %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center sm:hidden">
    <%= render "fab", bookmark: %>
  </div>
</li>
