<li id="<%= bookmark.token %>" class="list-row hover:bg-base-300" data-url="<%= bookmark_path(bookmark) %>">
  <% if bookmark.positionable? %>
    <div class="flex cursor-grab">
      <i class="fa-solid fa-grip-vertical my-auto"></i>
    </div>
  <% end %>
  <div class="text-4xl font-ubuntu font-light opacity-30 tabular-nums my-auto counter"></div>
  <div class="list-col-grow my-auto">
    <%# Disabling for now, there is an issue with redirects + broadcasts. %>
    <%# turbo_stream_from bookmark %>
    <div class="line-clamp-1"><%= bookmark.name %></div>
    <div class="text-xs line-clamp-1 text-base-content/48"><%= bookmark.url %></div>
  </div>
  <div class="hidden sm:flex flex-col sm:flex-row gap-4 my-auto">
    <%= form_with(model: bookmark, class: "my-auto") do |form| %>
      <div class="tooltip" data-tip="Enabled">
        <%= form.check_box :enabled, class: "toggle-lg", onchange: "this.form.requestSubmit()" %>
      </div>
    <% end %>

    <div class="tooltip" data-tip="Edit">
      <%= link_to edit_bookmark_path(bookmark), class: "btn btn-soft hover:btn-primary" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <div class="tooltip" data-tip="Delete">
      <%= button_to bookmark, method: :delete, class: "btn btn-error btn-soft hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{bookmark.name}.", confirm_button: "Delete" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
  <div class="sm:hidden flex items-center">
    <%= render "fab", bookmark: %>
  </div>
</li>
