<%# locals: (bookmark:) %>
<div class="action-button action-button-flower relative inset-0 bottom-auto z-0">
  <div tabindex="0" role="button" class="btn btn-circle border border-base-content/50">
    <%= solid_icon_tag("bars-progress") %>
  </div>

  <span class="btn btn-circle border border-base-content/50">✕</span>

  <%= button_to bookmark, method: :patch, params: { bookmark: { enabled: !bookmark.enabled } }, class: "btn btn-circle border border-base-content/25 shadow-lg btn-soft btn-primary" do %>
    <% if bookmark.enabled %>
      <%= solid_icon_tag("circle-check") %>
    <% else %>
      <%= regular_icon_tag("circle") %>
    <% end %>
  <% end %>

  <%= button_to edit_bookmark_path(bookmark), method: :get, class: "btn btn-circle border border-base-content/25 shadow-lg btn-soft btn-primary" do %>
    <%= solid_icon_tag("pen") %>
  <% end %>

  <%= button_to bookmark, method: :delete, class: "btn btn-circle border border-base-content/25 shadow-lg btn-soft btn-error", data: { turbo_confirm: "Confirm deletion of #{bookmark.name}.", confirm_button: "Delete" } do %>
    <%= solid_icon_tag("trash") %>
  <% end %>
</div>
