<% content_for :title, "Bookmarks" %>

<div class="w-full">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-4">
    <h1 class="font-bold text-4xl">Bookmarks</h1>
    <div class="flex flex-row justify-between gap-4">
      <div class="tooltip tooltip-bottom" data-tip="New Bookmark">
        <%= link_to new_bookmark_path, class: "btn btn-primary btn-soft", disabled: @categories.none? do %>
          <%= solid_icon_tag("plus") %>
        <% end %>
      </div>

      <%= render "sort_toggle" %>

      <div class="tooltip tooltip-bottom" data-tip="Manage Categories">
        <%= link_to categories_path, class: "btn hover:btn-primary" do %>
          <%= solid_icon_tag("list-ul") %>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Home">
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("house") %>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_stream_from :categories %>
  <%= turbo_stream_from :bookmarks %>
  <% if @categories.any? %>
    <div class="flex flex-col gap-8">
      <% @categories.each do |category| %>
        <div>
          <%= turbo_stream_from category %>
          <h2 class="font-bold text-2xl mb-2"><%= category.name %></h2>
          <% if category.bookmarks.any? %>
            <ul
              class="list bg-base-200 rounded-box shadow-md"
              data-controller="sortable-bookmark"
              data-sortable-bookmark-handle-value=".cursor-grab"
              data-id="<%= category.id %>"
            >
              <%= render category.bookmarks.order(Setting[:bookmarks_order]) %>
            </ul>
          <% else %>
            <%= render "bookmarks/heros/bookmark_setup", category: %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render "categories/heros/category_setup" %>
  <% end %>
</div>
