<li id="<%= quote.token %>" class="list-row hover:bg-base-300" data-sortable-update-url="<%= quote_path(quote) %>">
  <div class="flex cursor-grab">
    <%= solid_icon_tag("grip-vertical", class: "my-auto") %>
  </div>
  <% if quote.daily_pick? %>
    <div class="tooltip my-auto" data-tip="Daily Quote">
      <div class="text-4xl font-ubuntu font-black underline opacity-30 tabular-nums counter"></div>
    </div>
  <% else %>
    <div class="text-4xl font-ubuntu font-light opacity-30 tabular-nums my-auto counter"></div>
  <% end %>
  <div class="list-col-grow my-auto">
    <%= turbo_stream_from quote %>
    <p class="border-l-2 pl-2">
      <span class="font-light"><%= quote.quote %></span><br>
      <span class="font-medium"><%= quote.author %></span>
    </p>
  </div>
  <div class="hidden sm:flex flex-col sm:flex-row gap-4 my-auto">
    <div class="tooltip" data-tip="Edit">
      <%= link_to edit_quote_path(quote), class: "btn btn-soft hover:btn-primary" do %>
        <%= solid_icon_tag("pen") %>
      <% end %>
    </div>

    <div class="tooltip" data-tip="Delete">
      <%= button_to quote, method: :delete, class: "btn btn-error btn-soft hover:btn-error", data: { turbo_confirm: "Confirm deletion of a #{quote.author} quote.", confirm_button: "Delete" } do %>
        <%= solid_icon_tag("trash") %>
      <% end %>
    </div>
  </div>
  <div class="sm:hidden flex items-center">
    <%= render "fab", quote: %>
  </div>
</li>
