<% content_for :title, "Quotes" %>

<div class="w-full">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-4">
    <h1 class="font-bold text-4xl">Quotes</h1>
    <div class="flex flex-row justify-between gap-4">
      <div class="tooltip tooltip-bottom" data-tip="New Quote">
        <%= link_to new_quote_path, class: "btn btn-primary btn-soft" do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Reroll Daily Quote">
        <%= link_to reroll_daily_quotes_path, method: :patch, class: "btn hover:btn-primary", data: { turbo_method: :patch, turbo_prefetch: false } do %>
          <i class="fa-solid fa-dice-d20 fill-primary"></i>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Back">
        <%= link_to settings_path, class: "btn hover:btn-primary" do %>
          <i class="fa-solid fa-arrow-left"></i>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_stream_from :quotes %>
  <% if @quotes.any? %>
    <ul
      class="list bg-base-200 rounded-box shadow-md"
      data-controller="sortable"
      data-sortable-animation-value="100"
      data-sortable-resource-name-value="quote"
      data-sortable-handle-value=".cursor-grab"
    >
      <%= render @quotes %>
    </ul>
  <% else %>
    <p class="text-center my-10">No quotes found.</p>
  <% end %>
</div>
