<% content_for :title, "Quotes" %>

<div class="w-full">
  <div class="mb-4 flex flex-col items-center justify-between gap-4 sm:flex-row">
    <h1 class="text-4xl font-bold">Quotes</h1>
    <div class="flex flex-row justify-between gap-4">
      <%= tooltip_tag "New Quote", position: :bottom do %>
        <%= link_to new_quote_path, class: "btn btn-soft btn-primary" do %>
          <%= solid_icon_tag("plus") %>
        <% end %>
      <% end %>
      <%= tooltip_tag "Reroll Daily Quote", position: :bottom do %>
        <%= link_to reroll_daily_quotes_path, method: :patch, class: "btn hover:btn-primary", data: { turbo_method: :patch, turbo_prefetch: false } do %>
          <%= solid_icon_tag("dice-d20") %>
        <% end %>
      <% end %>
      <%= tooltip_tag "Back", position: :bottom do %>
        <%= link_to settings_path, class: "btn hover:btn-primary" do %>
          <%= solid_icon_tag("arrow-left") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= turbo_stream_from :quotes %>
  <% if @quotes.any? %>
    <ul
      class="list rounded-box bg-base-200 shadow-md"
      data-controller="sortable"
      data-sortable-animation-value="100"
      data-sortable-resource-name-value="quote"
      data-sortable-handle-value=".cursor-grab"
    >
      <%= render @quotes %>
    </ul>
  <% else %>
    <p class="my-10 text-center">No quotes found.</p>
  <% end %>
</div>
