<%# locals: (category: nil) %>
<div class="hero rounded-box border border-neutral bg-base-200 shadow-md">
  <div class="hero-content text-center">
    <div class="flex max-w-lg flex-col gap-6">
      <p>This category does not have any bookmarks.</p>
      <div class="mx-auto flex flex-col gap-4 sm:flex-row">
        <%= tooltip_tag "New Bookmark" do %>
          <%= link_to new_bookmark_path(category: category.token), class: "btn btn-soft hover:btn-primary" do %>
            <%= solid_icon_tag("plus") %>
          <% end %>
        <% end %>
        <%= tooltip_tag "Delete Category" do %>
          <%= button_to category, method: :delete, class: "btn btn-soft btn-error hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{category.name}.", confirm_button: "Delete" } do %>
            <%= solid_icon_tag("trash") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
