<li id="<%= theme.token %>" class="list-row hover:bg-base-300">
  <div class="mx-2 my-auto scale-150">
    <%= render "layouts/shared/theme_icon", theme: theme.token %>
  </div>
  <div class="my-auto">
    <%= turbo_stream_from theme %>
    <div><%= theme.name %></div>
  </div>
  <div class="my-auto hidden flex-col gap-4 sm:flex sm:flex-row">
    <%= form_with(model: theme, class: "my-auto") do |form| %>
      <%= tooltip_tag "Enabled" do %>
        <%= form.check_box :enabled, class: "toggle-lg", onchange: "this.form.requestSubmit()" %>
      <% end %>
    <% end %>

    <% if theme.custom? %>
      <%= tooltip_tag "Edit" do %>
        <%= link_to edit_theme_path(theme), class: "btn btn-soft hover:btn-primary" do %>
          <%= solid_icon_tag("pen") %>
        <% end %>
      <% end %>

      <%= tooltip_tag "Delete" do %>
        <%= button_to theme, method: :delete, class: "btn btn-soft btn-error hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{theme.name}.", confirm_button: "Delete" } do %>
          <%= solid_icon_tag("trash") %>
        <% end %>
      <% end %>
    <% else %>
      <%= tooltip_tag "Clone" do %>
        <%= link_to new_theme_path(clone: theme), class: "btn btn-soft hover:btn-primary" do %>
          <%= solid_icon_tag("clone") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center sm:hidden">
    <%= render "fab", theme: %>
  </div>
</li>
