<% content_for :title, "Themes" %>

<div class="w-full">
  <div class="mb-4 flex flex-col items-center justify-between gap-4 sm:flex-row">
    <h1 class="text-4xl font-bold">Themes</h1>
    <div class="flex flex-row justify-between gap-4">
      <div class="tooltip tooltip-bottom" data-tip="New Theme">
        <%= link_to new_theme_path, class: "btn btn-soft btn-primary" do %>
          <%= solid_icon_tag("plus") %>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Home">
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("house") %>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_stream_from :themes %>
  <% if @themes.any? %>
    <div class="flex flex-col gap-8">
      <% if @themes.custom.any? %>
        <div>
          <h2 class="mb-2 text-2xl font-bold">Custom Themes</h2>
          <ul class="list rounded-box bg-base-200 shadow-md">
            <%= render @themes.custom %>
          </ul>
        </div>
      <% end %>

      <% if @themes.standard.any? %>
        <div>
          <h2 class="mb-2 text-2xl font-bold">Standard Themes</h2>
          <ul class="list rounded-box bg-base-200 shadow-md">
            <%= render @themes.standard %>
          </ul>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="my-10 text-center">No themes found.</p>
  <% end %>
</div>
