<li id="<%= application.token %>" class="group list-row hover:bg-base-300" data-sortable-update-url="<%= application_path(application) %>">
  <% if application.positionable? %>
    <div class="flex cursor-grab">
      <%= solid_icon_tag("grip-vertical", class: "my-auto") %>
    </div>
  <% end %>
  <%= icon_tag application.icon, class: "my-auto size-10 fill-primary" %>
  <div class="list-col-grow my-auto">
    <%= turbo_stream_from application %>
    <div class="line-clamp-1"><%= application.name %></div>
    <div class="line-clamp-1 text-xs text-base-content/48">
      <%= tag.span(application.description, class: "group-hover:hidden") if application.description.present? %>
      <%= tag.span(application.url, class: token_list("hidden group-hover:inline" => application.description.present?)) %>
    </div>
  </div>
  <div class="my-auto hidden flex-col gap-4 sm:flex sm:flex-row">
    <%= form_with(model: application, class: "my-auto") do |form| %>
      <%= tooltip_tag "Enabled" do %>
        <%= form.check_box :enabled, class: "toggle-lg", onchange: "this.form.requestSubmit()" %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Edit" do %>
      <%= link_to edit_application_path(application), class: "btn btn-soft hover:btn-primary" do %>
        <%= solid_icon_tag("pen") %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Delete" do %>
      <%= button_to application, method: :delete, class: "btn btn-soft btn-error hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{application.name}.", confirm_button: "Delete" } do %>
        <%= solid_icon_tag("trash") %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center sm:hidden">
    <%= render "fab", application: %>
  </div>
</li>

