<section class="flex w-full flex-col">
  <div class="flex justify-between gap-2">
    <span>
      <%= date_tag(class: "uppercase") %>
      <%= content_tag(:span, "–") if Setting[:date_enabled] && Setting[:time_enabled] %>
      <%= time_tag(class: "uppercase") %>
    </span>
    <span class="whitespace-nowrap">
      <%= weather_icon_tag %>
      <%= temperature_tag %>
    </span>
  </div>

  <% if Setting[:greetings_enabled] || Setting[:quotes_enabled] %>
    <div class="divider"></div>

    <div class="flex flex-col gap-4">
      <% if Setting[:greetings_enabled] %>
        <h1 class="text-5xl font-bold"><%= Current.greeting %></h1>
      <% end %>

      <% if Setting[:quotes_enabled] %>
        <p class="border-l-2 pl-2">
          <span class="font-light"><%= Current.quote.quote %></span><br>
          <span class="font-medium"><%= Current.quote.author %></span>
        </p>
      <% end %>
    </div>
  <% end %>
</section>
