<fieldset class="fieldset gap-4 rounded-box border border-base-300 bg-base-200 p-4 shadow-lg">
  <%= render "settings/inputs/toggle", setting: Setting.find_by(slug: :bookmarks_enabled) %>

  <div class="divider m-0"></div>

  <%= render "settings/inputs/toggle", setting: Setting.find_by(slug: :greetings_enabled) %>
  <%= render "settings/inputs/text", setting: Setting.find_by(slug: :morning_greeting) %>
  <%= render "settings/inputs/text", setting: Setting.find_by(slug: :afternoon_greeting) %>
  <%= render "settings/inputs/text", setting: Setting.find_by(slug: :evening_greeting) %>
  <%= render "settings/inputs/text", setting: Setting.find_by(slug: :night_greeting) %>

  <div class="divider m-0"></div>

  <%= render "settings/inputs/toggle", setting: Setting.find_by(slug: :quotes_enabled) %>
  <%= link_to "Manage Quotes", quotes_path, class: "btn btn-outline hover:btn-neutral" %>
</fieldset>
