<% content_for :title, "Settings" %>

<div class="w-full">
  <div class="mb-4 flex flex-col items-center justify-between gap-4 sm:flex-row">
    <h1 class="text-4xl font-bold">Settings</h1>
    <div class="flex flex-row justify-between gap-4">
      <%= tooltip_tag "Reroll Daily Quote", position: :bottom do %>
        <%= link_to reroll_daily_quotes_path, method: :patch, class: "btn hover:btn-primary", data: { turbo_method: :patch, turbo_prefetch: false } do %>
          <%= solid_icon_tag("dice-d20") %>
        <% end %>
      <% end %>
      <%= tooltip_tag "Manage Themes", position: :bottom do %>
        <%= link_to themes_path, class: "btn hover:btn-primary", data: { turbo_prefetch: false } do %>
          <%= solid_icon_tag("palette") %>
        <% end %>
      <% end %>
      <%= tooltip_tag "Home", position: :bottom do %>
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("house") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <%= render "general_settings" %>
    <%= render "date_time_settings" %>
    <%= render "weather_settings" %>
    <%= render "search_settings" %>
  </div>

  <p class="mt-2 text-center text-xs text-base-content/50">
    Icons are modified and colored programatically to match the user's theme.
    Icons are provided by <a href="https://github.com/selfhst/icons/blob/main/LICENSE" target="_blank" class="hover:text-base-content hover:underline">selfh.st/icons</a>,
    and <a href="https://fontawesome.com/license/free" target="_blank" class="hover:text-base-content hover:underline">Font Awesome Free</a>
    under <a href="https://creativecommons.org/licenses/by/4.0/deed" target="_blank" class="hover:text-base-content hover:underline">CC BY 4.0</a>.
  </p>

  <a href="https://www.github.com/bert-mccutchen/oak" target="_blank" class="mx-auto mt-8 block w-1/2 max-w-[100]">
    <%= inline_svg_tag "icon.svg", class: "rounded-full fill-base-content/50 hover:fill-base-content" %>
  </a>
</div>
