<%# locals: (setting:) %>
<%= form_with(model: setting, class: "w-full", data: { turbo_permanent: true }) do |form| %>
  <%= form.label :name, class: "w-full text-lg font-bold" do %>
    <%= form.check_box :value, checked: setting.parsed_value, onchange: "this.form.requestSubmit()" %>
    <%= setting.name %>
  <% end %>
  <span class="block text-base-content/48"><%= setting.description %></span>
<% end %>
