<div data-search-target="selfSearch">
  <%= search_form_for @q, url: search_path, id: "self_search", class: "w-full p-4", data: { controller: "debounce", turbo: true, turbo_permanent: true } do |f| %>
    <label class="input w-full">
      <%= solid_icon_tag("magnifying-glass", class: "text-base-content/48") %>
      <%= f.search_field :name_cont,
        placeholder: "Search",
        autofocus: true,
        autocomplete: :off,
        autocorrect: :off,
        autocapitalize: :off,
        spellcheck: false,
        data: { search_target: "selfInput", action: "keydown.tab->search#switch keydown->debounce#submit" } %>
      <kbd class="kbd kbd-sm" data-action="click->search#switch">tab</kbd>
      <kbd class="kbd kbd-sm" data-action="click->search#hide">esc</kbd>
    </label>
  <% end %>

  <ul class="list max-h-[50vh] overflow-scroll rounded-box" data-action="keydown@document->search#navigate">
    <%= render partial: "application", collection: @applications %>
    <%= render partial: "bookmark", collection: @bookmarks %>
  <ul>
</div>
