<li id="<%= category.token %>" class="list-row hover:bg-base-300" data-sortable-update-url="<%= category_path(category) %>">
  <% if category.positionable? %>
    <div class="flex cursor-grab">
      <%= solid_icon_tag("grip-vertical", class: "my-auto") %>
    </div>
  <% end %>
  <div class="counter my-auto font-ubuntu text-4xl font-light tabular-nums opacity-30"></div>
  <div class="list-col-grow my-auto">
    <%= turbo_stream_from category %>
    <div class="line-clamp-1"><%= category.name %></div>
  </div>
  <div class="my-auto hidden flex-col gap-4 sm:flex sm:flex-row">
    <%= form_with(model: category, class: "my-auto") do |form| %>
      <%= tooltip_tag "Enabled" do %>
        <%= form.check_box :enabled, class: "toggle-lg", onchange: "this.form.requestSubmit()" %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Edit" do %>
      <%= link_to edit_category_path(category), class: "btn btn-soft hover:btn-primary" do %>
        <%= solid_icon_tag("pen") %>
      <% end %>
    <% end %>

    <%= tooltip_tag "Delete" do %>
      <%= button_to category, method: :delete, class: "btn btn-soft btn-error hover:btn-error", data: { turbo_confirm: "Confirm deletion of #{category.name}.", confirm_button: "Delete" } do %>
        <%= solid_icon_tag("trash") %>
      <% end %>
    <% end %>
  </div>
  <div class="flex items-center sm:hidden">
    <%= render "fab", category: %>
  </div>
</li>
