<li class="list-row hover:bg-base-300 cursor-grab" data-sortable-update-url="<%= category_path(category) %>">
  <div class="text-4xl font-thin opacity-30 tabular-nums my-auto"><%= category.position.to_s.rjust(2, '0') %></div>
  <div class="my-auto">
    <%= turbo_stream_from category %>
    <div><%= category.name %></div>
  </div>
  <div class="flex flex-col sm:flex-row gap-4 my-auto">
    <%= link_to "Edit", edit_category_path(category), class: "btn btn-soft hover:btn-primary" %>
    <%= button_to "Destroy", category, method: :delete, class: "btn btn-error btn-soft hover:btn-error", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</li>
