<% content_for :title, "Categories" %>

<div class="w-full">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-4 gap-4">
    <h1 class="font-bold text-4xl">Categories</h1>
    <div class="flex flex-row justify-between gap-4">
      <div class="tooltip tooltip-bottom" data-tip="New Category">
        <%= link_to new_category_path, class: "btn btn-primary btn-soft" do %>
          <%= solid_icon_tag("plus") %>
        <% end %>
      </div>

      <%= render "sort_toggle" %>

      <div class="tooltip tooltip-bottom" data-tip="Manage Bookmarks">
        <%= link_to bookmarks_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("bookmark") %>
        <% end %>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Home">
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("house") %>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_stream_from :categories %>
  <% if @categories.any? %>
    <ul
      class="list bg-base-200 rounded-box shadow-md"
      data-controller="sortable"
      data-sortable-animation-value="100"
      data-sortable-resource-name-value="category"
      data-sortable-handle-value=".cursor-grab"
    >
      <%= render @categories %>
    </ul>
  <% else %>
    <%= render "categories/heros/category_setup" %>
  <% end %>
</div>
