<% content_for :title, "Categories" %>

<div class="w-full">
  <div class="mb-4 flex flex-col items-center justify-between gap-4 sm:flex-row">
    <h1 class="text-4xl font-bold">Categories</h1>
    <div class="flex flex-row justify-between gap-4">
      <%= tooltip_tag "New Category", position: :bottom do %>
        <%= link_to new_category_path, class: "btn btn-soft btn-primary" do %>
          <%= solid_icon_tag("plus") %>
        <% end %>
      <% end %>

      <%= render "sort_toggle" %>

      <%= tooltip_tag "Manage Bookmarks", position: :bottom do %>
        <%= link_to bookmarks_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("bookmark") %>
        <% end %>
      <% end %>
      <%= tooltip_tag "Home", position: :bottom do %>
        <%= link_to root_path, class: "btn hover:btn-primary" do %>
          <%= regular_icon_tag("house") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= turbo_stream_from :categories %>
  <% if @categories.any? %>
    <ul
      class="list rounded-box bg-base-200 shadow-md"
      data-controller="sortable"
      data-sortable-animation-value="100"
      data-sortable-resource-name-value="category"
      data-sortable-handle-value=".cursor-grab"
    >
      <%= render @categories %>
    </ul>
  <% else %>
    <%= render "categories/heros/category_setup" %>
  <% end %>
</div>
