<% content_for :title, "Icons" %>

<%= turbo_frame_tag :icons, class: "w-full" do %>
  <%= search_form_for @q, class: "w-full p-4", data: { controller: "debounce", turbo: true, turbo_permanent: true } do |f| %>
    <label class="input w-full">
      <%= solid_icon_tag("magnifying-glass", class: "text-base-content/48") %>
      <%= f.search_field :name_or_tags_cont,
        placeholder: "Search",
        autofocus: true,
        autocomplete: :off,
        autocorrect: :off,
        autocapitalize: :off,
        spellcheck: false,
        data: { action: "keydown->debounce#submit" } %>
      <kbd class="kbd kbd-sm" data-action="click->icon-picker-form#closeModal">esc</kbd>
    </label>
  <% end %>

  <table class="table table-xs">
    <% if @icons.any? %>
      <tbody>
        <%= render @icons %>
      </tbody>
    <% else %>
      <tfoot>
        <div class="text-center mx-4 mb-4">
          <p class="text-lg pb-2"><%= solid_icon_tag("heart-crack") %> No icons found.</p>
          <p>Consider contributing to <a href="https://github.com/selfhst/icons" target="_blank" class="hover:underline hover:text-primary">selfh.st/icons</a>.</p>
        </div>
      </tfoot>
    <% end %>
  </table>

  <% if @pagy.pages > 1 %>
    <div class="my-2 p-2 w-full text-center">
      <%== @pagy.series_nav slots: 3, anchor_string: 'data-turbo="true"' %>
    </div>
  <% end %>
<% end %>
